*.o
.deps
.libs
Makefile
Makefile.in
add_test
add_test.log
add_test.trs
dumpstatements
dumpstatements.log
dumpstatements.trs
export_test
export_test.log
export_test.trs
instances_test
instances_test.log
instances_test.trs
multi_test
multi_test.log
multi_test.trs
preset-out.n3
remove_test
remove_test.log
remove_test.trs
scale_test
scale_test.log
scale_test.trs
setting_test
setting_test.log
setting_test.trs
showdefaults
showtaxonomy
showtaxonomy.log
showtaxonomy.trs
subclass_test
subclass_test.log
subclass_test.trs
test-out.n3
test-suite.log
